<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link rel="shortcut icon" href="#">
    <title>Oyster Details</title>
</head>  

<body>
<h2>Details Page for <%= result.name %> Oyster</h2>
<hr>

<% if (result) { %>
    <table>
        <tr>
            <th>Common Name:</th>
            <td> <%= result.name %></td>
        </tr>
        <tr>
            <th>Scientific Name:</th>
            <td> <%= result.scientificName %></td>
        </tr>
        <tr>
            <th>Origin:</th>
            <td> <%= result.origin %></td>
        </tr>
        <tr>
            <th>Flavor Profile:</th>
            <td> <%= result.flavor %></td>
        </tr>
    </table>
<% } else { %>
    <h2><%= name %> Not Found</h2>
<% } %>

<h3><a href="/">Back to Home Page</a></h3>
<script src="index.js"></script>  
</body>
</html>